.body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding:3px ;
}

.text-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  width: 80%;
  height: 37vh;
}

.text-window h2 {
    margin :0 ;
    font-size :40px ;
    font-weight :bold ;
    margin-bottom :15px ;
    text-align :center ;
}

.text-window textarea {
    width :50vw ;
    height:22vh;
    border-radius :5px ;
    border :2px solid #ccc ;
    padding :10px ;
    font-size :16px ;
    resize :none ;
}

.text-window textarea:focus {
    outline :none ;
    border-color :#0077ff ;
    font-weight :bold ;
}

.text-window button {
    background-color:#0077ff ;
    color:white ;
    border:none ;
    border-radius :5px ;
    padding :8px ;
    font-size :16px ;
    font-weight :bold ;
    margin-top :15px ;
    box-shadow :0px px px rgba(0,0,0,0.2) ;
    cursor:pointer ;
    transition :all .2s ease-in-out ;
}

.text-window button:hover {
    transform :translateY(-2px) ;
    box-shadow :0px px px rgba(0,0,0,0.2) ;
    opacity :80% ;
}

.generateBtn{
    padding :2px ;
    margin-bottom: 1%;
}

@keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1; }
}

.text-window {
    animation-name: fadeIn;
    animation-duration: .5s;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}